*{

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

scroll-behavior:smooth;

}



body{

margin:0;
background:#020617;
color:white;
overflow-x:hidden;
}





/* BACKGROUND */

.particles{

position:fixed;

inset:0;

z-index:-1;


background:

radial-gradient(circle,#06b6d4 1px,transparent 1px);


background-size:40px 40px;


animation:move 15s linear infinite;


opacity:.35;

}



@keyframes move{

from{

transform:translateY(0);

}


to{

transform:translateY(-200px);

}

}







/* NAVBAR */


nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;


background:rgba(0,0,0,.3);

backdrop-filter:blur(15px);


position:sticky;

top:0;

z-index:10;

}



nav a{

color:white;

text-decoration:none;

margin:20px;

}

/* TOGGLE */

.switch{

width:55px;
height:28px;
display:inline-block;
position:relative;

}


.switch input{

display:none;

}

.slider{

position:absolute;
inset:0;
background:#475569;
border-radius:30px;
cursor:pointer;
transition:.3s;
display:flex;
align-items:center;
justify-content:space-between;
padding:3px 6px;
font-size:15px;

}


.slider:before{

content:"";

position:absolute;
height:22px;
width:22px;
left:3px;
bottom:3px;
background:white;
border-radius:50%;
transition:.3s;
z-index:2;

}


.sun,
.moon{

position:relative;
z-index:1;
}


input:checked+.slider{
background:#06b6d4;
}


input:checked+.slider:before{
transform:translateX(27px);

}



.slider:before{
content:"";
position:absolute;
height:22px;
width:22px;
left:3px;
bottom:3px;
background:white;
border-radius:50%;
transition:.3s;
}



input:checked+.slider{

background:#06b6d4;

}



input:checked+.slider:before{

transform:translateX(27px);

}

.hero{


height:90vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;

}



.badge{

padding:12px 25px;
border-radius:30px;
background:
rgba(255,255,255,.15);
backdrop-filter:blur(15px);

}

.hero h1{

font-size:70px;
background:
linear-gradient(90deg,#06b6d4,#d946ef);
background-clip:text;
color:transparent;

}

button{

padding:12px 25px;
border:none;
border-radius:25px;
background:#06b6d4;
color:white;
cursor:pointer;

}

#timer{

display:flex;
gap:20px;
margin:30px;

}

#timer div{

background:
rgba(255,255,255,.15);
padding:20px;
border-radius:20px;
backdrop-filter:blur(15px);

}

#timer span{
display:block;
font-size:35px;

}


#events{

padding-top:100px;
padding-bottom:100px;

}

#events h1{

font-size:45px;
letter-spacing:2px;
text-align:center;
margin-bottom:70px;
background:
linear-gradient(90deg,#06b6d4,#d946ef);
background-clip:text;
color:transparent;

}

.carousel{

display:flex;
align-items:center;
justify-content:center;
gap:20px;


}

.slider-container{

display:flex;
gap:35px;
width:900px;
overflow-x:auto;
overflow-y:hidden;
padding:70px 20px;
perspective:1000px;
scroll-behavior:smooth;


}

.slider-container::-webkit-scrollbar{
display:none;

}

.card{
min-width:260px;
height:230px;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
background:

rgba(255,255,255,.12);
border:

1px solid rgba(255,255,255,.3);
border-radius:25px;
backdrop-filter:blur(20px);
opacity:.45;
transform:

scale(.8)
rotateY(25deg);
transition:.6s;
padding:20px;
}

.card.active{
opacity:1;
transform:
scale(1.15)
rotateY(0deg);



}

.card:not(.active){
filter:blur(.5px);

}

.icon{
font-size:55px;
height:65px;
display:flex;
align-items:center;
margin-bottom:10px;
}

.card h3{
margin:5px 0;
font-size:25px;

}

.card p{
margin:8px 0;
font-size:18px;
}

.arrow{

width:55px;
height:55px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:32px;
background:#06b6d4;
color:white;
border:none;
padding:0;
transition:3s;

}




.arrow:hover{


transform:scale(1.1);
box-shadow:
0 0 25px #06b6d4;

}

#register{

min-height:70vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;


}



#register h1{
font-size:50px;
margin-bottom:40px;

}




form{

display:flex;
flex-direction:column;
gap:20px;
padding:50px;
width:600px;
min-height:450px;
border-radius:30px;
background:

rgba(255,255,255,.12);
backdrop-filter:blur(20px);

}



input,select{

padding:18px;
border-radius:12px;
border:none;
font-size:17px;
width:100%;

}



#msg{
color:#22c55e;
font-size:20px;
font-weight:bold;

}

.light{
background:#f1f5f9;
color:#020617;

}



.light nav{
background:white;

}


.light nav a{
color:#020617;

}


.light .card,
.light form,
.light #timer div{


background:white;

}


@media(max-width:700px){

.slider-container{
width:90vw;

}


form{
width:90%;

}

.hero h1{
font-size:45px;

}


}

body{

cursor:none;

}




body{
    cursor:none;
}


.ninja-cursor{

position:fixed;

width:45px;
height:45px;

pointer-events:none;
z-index:99999;
left:0;
top:0;


transform:
translate(-50%,-50%)
rotate(45deg);
background:
linear-gradient(
135deg,
#111827,
#06b6d4
);



clip-path:polygon(
50% 0%,
62% 35%,
100% 50%,
62% 65%,
50% 100%,
38% 65%,
0% 50%,
38% 35%
);

filter:
drop-shadow(0 0 12px #06b6d4);

}
